@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  background: black;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #1a56db;
  -webkit-box-shadow: 0 0 1px white;
}